In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk

<h1>Data Discovery</h1>
<p>Analise da base de dados</p>

**US English Dictionary**

In [2]:
data_US = pd.read_csv('Backup_Databases\en-US\en-US.dic')

In [3]:
data_US['Idiom'] = 'English(US)'

In [4]:
data_US

            Words        Idiom
0               a  English(US)
1               A  English(US)
2              AA  English(US)
3             AAA  English(US)
4          Aachen  English(US)
...           ...          ...
152507    zygotes  English(US)
152508   zygote's  English(US)
152509    zygotic  English(US)
152510  zymurgies  English(US)
152511    zymurgy  English(US)

[152512 rows x 2 columns]

**Brazillian Portuguese Dictionary**

In [5]:
data_BR = pd.read_csv('Backup_Databases\pt-BR\pt-BR.dic')

In [6]:
data_BR['Idiom'] = 'Portuguese(BR)'

In [7]:
data_BR

          Words           Idiom
0             a  Portuguese(BR)
1             á  Portuguese(BR)
2             à  Portuguese(BR)
3             À  Portuguese(BR)
4         Aarão  Portuguese(BR)
...         ...             ...
201220   zunzum  Portuguese(BR)
201221  zunzuns  Portuguese(BR)
201222   zurrar  Portuguese(BR)
201223    zurro  Portuguese(BR)
201224   zurros  Portuguese(BR)

[201225 rows x 2 columns]

**Australian English Dictionary**

In [8]:
data_AU = pd.read_csv('Backup_Databases\en-AU\en-AU.dic')

In [9]:
data_AU['Idiom'] = 'Englis(AU)'

In [10]:
data_AU

             Words       Idiom
0                a  Englis(AU)
1               AA  Englis(AU)
2         aardvark  Englis(AU)
3        aardvarks  Englis(AU)
4       aardvark's  Englis(AU)
...            ...         ...
119228     zygotes  Englis(AU)
119229    zygote's  Englis(AU)
119230     zygotic  Englis(AU)
119231   zymurgies  Englis(AU)
119232     zymurgy  Englis(AU)

[119233 rows x 2 columns]

**UK English Dictionary**

In [11]:
data_UK = pd.read_csv('Backup_Databases\en-GB\en-GB.dic')

In [12]:
data_UK['Idiom'] = 'English(GB)'

In [13]:
data_UK

            Words        Idiom
0               a  English(GB)
1               A  English(GB)
2               à  English(GB)
3              AA  English(GB)
4             AAA  English(GB)
...           ...          ...
126833    zygotes  English(GB)
126834   zygote's  English(GB)
126835    zygotic  English(GB)
126836  zymurgies  English(GB)
126837    zymurgy  English(GB)

[126838 rows x 2 columns]

**Portuguese Dictionary**

In [14]:
data_PT = pd.read_csv("Backup_Databases\pt-PT\pt-PT.dic")

In [15]:
data_PT['Idiom'] = 'Portuguese(PT)'

In [16]:
data_PT

            Words           Idiom
0               a  Portuguese(PT)
1               à  Portuguese(PT)
2             AAC  Portuguese(PT)
3          Aachen  Portuguese(PT)
4         Aalborg  Portuguese(PT)
...           ...             ...
412168  zurzisses  Portuguese(PT)
412169   zurziste  Portuguese(PT)
412170  zurzistes  Portuguese(PT)
412171     zurziu  Portuguese(PT)
412172      zurzo  Portuguese(PT)

[412173 rows x 2 columns]

**New Zealand English Dictionary**

In [17]:
data_NZ = pd.read_csv("Backup_Databases\en-NZ\en-NZ.dic")

In [18]:
data_NZ['Idiom'] = 'English(NZ)'

**Canadian English Dictionary**

In [19]:
data_CA = pd.read_csv("Backup_Databases\en-CA\en-CA.dic")

In [20]:
data_CA['Idiom'] = 'English(CA)'

In [21]:
data_CA

            Words        Idiom
0               a  English(CA)
1               A  English(CA)
2              AA  English(CA)
3             AAA  English(CA)
4          Aachen  English(CA)
...           ...          ...
152618    zygotes  English(CA)
152619   zygote's  English(CA)
152620    zygotic  English(CA)
152621  zymurgies  English(CA)
152622    zymurgy  English(CA)

[152623 rows x 2 columns]

**Merging Datasets**

In [22]:
dataFrames = [data_BR, data_PT, data_UK, data_US, data_AU, data_CA, data_NZ]
general_dataset = pd.concat(dataFrames)

In [23]:
general_dataset

            Words           Idiom
0               a  Portuguese(BR)
1               á  Portuguese(BR)
2               à  Portuguese(BR)
3               À  Portuguese(BR)
4           Aarão  Portuguese(BR)
...           ...             ...
129241    zygotes     English(NZ)
129242   zygote's     English(NZ)
129243    zygotic     English(NZ)
129244  zymurgies     English(NZ)
129245    zymurgy     English(NZ)

[1293850 rows x 2 columns]

<h1>Data Wrangling or Munging + Data Analysis</h1>
<p>Limpeza dos dados, transformações e Analise estatística</p>

<h1>Predictive Modeling</h1>
<p>Aplicação de metodos probabilísticos e estatísticos de Machine Learning e analise do resultado</p>

<h1>Testing Validation</h1>
<p>Validando o modelo criado</p>

<h1>Deploy</h1>
<p>Deploy do modelo</p>

In [36]:
!git checkout -b

On branch master
Your branch is up to date with 'origin/master'.

nothing to commit, working tree clean

In [37]:
!git log --graph --decorate --oneline

* 573b62b (HEAD -> master, origin/master, origin/HEAD) Test Merge
* df2fd90 Initial commit