In [26]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk

<h1>Data Discovery</h1>
<p>Analise da base de dados</p>

**US English Dictionary**

In [27]:
data_US = pd.read_csv('Backup_Databases\en-US\en-US.dic')

In [28]:
data_US['Idiom'] = 'English'

In [29]:
data_US

            Words    Idiom
0               a  English
1               A  English
2              AA  English
3             AAA  English
4          Aachen  English
...           ...      ...
152507    zygotes  English
152508   zygote's  English
152509    zygotic  English
152510  zymurgies  English
152511    zymurgy  English

[152512 rows x 2 columns]

**Brazillian Portuguese Dictionary**

In [30]:
data_BR = pd.read_csv('Backup_Databases\pt-BR\pt-BR.dic')

In [31]:
data_BR['Idiom'] = 'Portuguese'

In [32]:
data_BR

          Words       Idiom
0             a  Portuguese
1             á  Portuguese
2             à  Portuguese
3             À  Portuguese
4         Aarão  Portuguese
...         ...         ...
201220   zunzum  Portuguese
201221  zunzuns  Portuguese
201222   zurrar  Portuguese
201223    zurro  Portuguese
201224   zurros  Portuguese

[201225 rows x 2 columns]

**Australian English Dictionary**

In [33]:
data_AU = pd.read_csv('Backup_Databases\en-AU\en-AU.dic')

In [34]:
data_AU['Idiom'] = 'English'

In [35]:
data_AU

             Words    Idiom
0                a  English
1               AA  English
2         aardvark  English
3        aardvarks  English
4       aardvark's  English
...            ...      ...
119228     zygotes  English
119229    zygote's  English
119230     zygotic  English
119231   zymurgies  English
119232     zymurgy  English

[119233 rows x 2 columns]

**UK English Dictionary**

In [36]:
data_UK = pd.read_csv('Backup_Databases\en-GB\en-GB.dic')

In [37]:
data_UK['Idiom'] = 'English'

In [38]:
data_UK

            Words    Idiom
0               a  English
1               A  English
2               à  English
3              AA  English
4             AAA  English
...           ...      ...
126833    zygotes  English
126834   zygote's  English
126835    zygotic  English
126836  zymurgies  English
126837    zymurgy  English

[126838 rows x 2 columns]

**Portuguese Dictionary**

In [39]:
data_PT = pd.read_csv("Backup_Databases\pt-PT\pt-PT.dic")

In [40]:
data_PT['Idiom'] = 'Portuguese'

In [41]:
data_PT

            Words       Idiom
0               a  Portuguese
1               à  Portuguese
2             AAC  Portuguese
3          Aachen  Portuguese
4         Aalborg  Portuguese
...           ...         ...
412168  zurzisses  Portuguese
412169   zurziste  Portuguese
412170  zurzistes  Portuguese
412171     zurziu  Portuguese
412172      zurzo  Portuguese

[412173 rows x 2 columns]

**New Zealand English Dictionary**

In [42]:
data_NZ = pd.read_csv("Backup_Databases\en-NZ\en-NZ.dic")

In [43]:
data_NZ['Idiom'] = 'English'

**Canadian English Dictionary**

In [44]:
data_CA = pd.read_csv("Backup_Databases\en-CA\en-CA.dic")

In [45]:
data_CA['Idiom'] = 'English'

In [46]:
data_CA

            Words    Idiom
0               a  English
1               A  English
2              AA  English
3             AAA  English
4          Aachen  English
...           ...      ...
152618    zygotes  English
152619   zygote's  English
152620    zygotic  English
152621  zymurgies  English
152622    zymurgy  English

[152623 rows x 2 columns]

**Merging Datasets**

In [47]:
dataFrames = [data_BR, data_PT, data_UK, data_US, data_AU, data_CA, data_NZ]
general_dataset = pd.concat(dataFrames)

In [48]:
general_dataset

            Words       Idiom
0               a  Portuguese
1               á  Portuguese
2               à  Portuguese
3               À  Portuguese
4           Aarão  Portuguese
...           ...         ...
129241    zygotes     English
129242   zygote's     English
129243    zygotic     English
129244  zymurgies     English
129245    zymurgy     English

[1293850 rows x 2 columns]

<h1>Data Wrangling or Munging + Data Analysis</h1>
<p>Limpeza dos dados, transformações e Analise estatística</p>

**Checking if there are duplicated informations**

In [53]:
print(general_dataset.duplicated())

0         False
1         False
2         False
3         False
4         False
          ...
129241     True
129242     True
129243     True
129244     True
129245     True
Length: 1293850, dtype: bool

**Removing Duplications**

In [58]:
general_dataset = general_dataset.drop_duplicates()

In [59]:
general_dataset

              Words       Idiom
0                 a  Portuguese
1                 á  Portuguese
2                 à  Portuguese
3                 À  Portuguese
4             Aarão  Portuguese
...             ...         ...
128659        WWI's     English
128936       YMCA's     English
128972        yonks     English
129085    Zealander     English
129087  Zealander's     English

[615711 rows x 2 columns]

<h1>Predictive Modeling</h1>
<p>Aplicação de metodos probabilísticos e estatísticos de Machine Learning e analise do resultado</p>

<h1>Testing Validation</h1>
<p>Validando o modelo criado</p>

<h1>Deploy</h1>
<p>Deploy do modelo</p>

In [36]:
!git checkout -b

On branch master
Your branch is up to date with 'origin/master'.

nothing to commit, working tree clean

In [37]:
!git log --graph --decorate --oneline

* 573b62b (HEAD -> master, origin/master, origin/HEAD) Test Merge
* df2fd90 Initial commit