In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import nltk

<h1>Data Discovery</h1>
<p>Analise da base de dados</p>

**US English Dictionary**

In [2]:
data_US = pd.read_csv('Backup_Databases\en-US\en-US.dic')

In [3]:
data_US['Idiom'] = 'English(US)'

In [4]:
data_US

            Words        Idiom
0               a  English(US)
1               A  English(US)
2              AA  English(US)
3             AAA  English(US)
4          Aachen  English(US)
...           ...          ...
152507    zygotes  English(US)
152508   zygote's  English(US)
152509    zygotic  English(US)
152510  zymurgies  English(US)
152511    zymurgy  English(US)

[152512 rows x 2 columns]

**Brazillian Portuguese Dictionary**

In [8]:
data_BR = pd.read_csv('Backup_Databases\pt-BR\pt-BR.dic')

In [11]:
#data_BR['Language'] = "Portuguese(BR)"

In [12]:
data_BR.columns = ['Words', 'Idiom']

ValueError: Length mismatch: Expected axis has 3 elements, new values have 2 elements

In [13]:
data_AU = pd.read_csv('Backup_Databases\en-AU\en-AU.dic')

In [14]:
data_AU['Idiom'] = 'Englis(AU)'

In [15]:
data_AU

             Words       Idiom
0                a  Englis(AU)
1               AA  Englis(AU)
2         aardvark  Englis(AU)
3        aardvarks  Englis(AU)
4       aardvark's  Englis(AU)
...            ...         ...
119228     zygotes  Englis(AU)
119229    zygote's  Englis(AU)
119230     zygotic  Englis(AU)
119231   zymurgies  Englis(AU)
119232     zymurgy  Englis(AU)

[119233 rows x 2 columns]

**UK English Dictionary**

In [20]:
data_UK = pd.read_csv('Backup_Databases\en-GB\en-GB.dic')

In [22]:
data_UK['Idiom'] = 'English(GB)'

In [23]:
data_UK

            Words        Idiom
0               a  English(GB)
1               A  English(GB)
2               à  English(GB)
3              AA  English(GB)
4             AAA  English(GB)
...           ...          ...
126833    zygotes  English(GB)
126834   zygote's  English(GB)
126835    zygotic  English(GB)
126836  zymurgies  English(GB)
126837    zymurgy  English(GB)

[126838 rows x 2 columns]

<h1>Data Wrangling or Munging + Data Analysis</h1>
<p>Limpeza dos dados, transformações e Analise estatística</p>

<h1>Predictive Modeling</h1>
<p>Aplicação de metodos probabilísticos e estatísticos de Machine Learning e analise do resultado</p>

<h1>Testing Validation</h1>
<p>Validando o modelo criado</p>

<h1>Deploy</h1>
<p>Deploy do modelo</p>

In [36]:
!git checkout -b

On branch master
Your branch is up to date with 'origin/master'.

nothing to commit, working tree clean

In [37]:
!git log --graph --decorate --oneline

* 573b62b (HEAD -> master, origin/master, origin/HEAD) Test Merge
* df2fd90 Initial commit